<!DOCTYPE html >
<html lang="en" ng-app="slist" >
<head >
	<title >dnacenta</title >
	<link href="../libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" >
	<link href="main.css" rel="stylesheet" >
</head >

<body >
<nav class="navbar navbar-inverse navbar-fixed-top" >
	<div class="container" >
		<div class="navbar-header" >
			<a class="navbar-brand"
			   href="/" >Countries
			</a >
		</div >
	</div >
</nav >

<div class="container main-content" ng-controller="DataController">

	<div class="row" >

		<div class="col-md-12" >
			<form class="form-inline well well-sm" >
				<span class="glyphicon glyphicon-search" ></span >

				<div class="form-group" >
						<input type="text"
						       class="form-control"
						       id="searcher"
						       ng-model="search.$"
						       placeholder="Search by country or capital..."
								/>
				</div >

			</form >
		</div >

	</div >

	<div class="row">

		<div class="col-md-8">
			<table class="table table-bordered">
				<tr>
					<th>Country</th>
					<th>Capital</th>
				</tr>
				<tr ng-repeat="place in places | filter:search | orderBy:'country'"
						ng-style="{
							'background-color' : $index == selectedIndex ? 'lightgray' : ''
						}"
						ng-click="selectPlace(place, $index)">
					<td>{{ place.country }}</td>
					<td>{{ place.capital }}</td>
				</tr>
			</table>
		</div>

		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					Details
				</div>
				<div class="panel-body">
					<dl>
						<dt>Country:</dt>
						<dd>{{ selectedPlace.country }}</dd>
						<dt>Population:</dt>
						<dd>{{ selectedPlace.population }}</dd>
						<dt>Capital:</dt>
						<dd>{{ selectedPlace.capital }}</dd>
						<dt>Currency:</dt>
						<dd>{{ selectedPlace.currency }}</dd>
					</dl>
				</div>
			</div>

		</div>

	</div>

</div >

<script src="../libs/angular/angular.min.js" ></script >
<script src="main.js" ></script >
</body >
</html >
